@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$footer-height: 116px;

html {
  position: relative;
  min-height: 100%;

  &.homepage {
    height: 100%;
  }

  body {
    height: 100%;
    width: 100%;
    padding-bottom: $footer-height;
    font-weight: 100;
    font-family: 'Lato';

    .main-container {
      display:table;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      .content {
        display:table-cell;
        vertical-align:middle;

        .title,
        .email {
          text-align:center;
        }

        .title {
          font-size: 96px;
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer-height;
      background-color: #f5f5f5;

      dl {
        margin-bottom: 0;
      }

      @media (max-width: 767px) {
        position: relative;
        height: auto;
      }
    }

    .footer:not(.homepage) {
      .container {
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;

        p {
          margin: 20px 0;
        }
      }
    }
  }

}